/* * {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
} */

/* * {
  font-family: myFont;
  box-sizing: border-box;
} */

/* colors to be used #F8B195, #F67280, #C06C84, #6C5B7B, #355C7D */
@font-face{
  font-family:myFont;
  src:url(Lofi.ttf)
}

h1{
  font-family: myFont;
}


button {
  font-family: myFont;
}

label{
  font-family:myFont;
}

body {
  background-image: url(lofi2.jpg);
  color: hsl(200, 100%, 90%);
  max-width: 550px;
  padding: 1rem;
  margin: 0 auto;
}

.title {
font-size:60px
}

.singleTodo {
  background: #e1b39d;
  height: 100px;
  width: 600px;

}

.submitbutton {
  background:#ee7468;
  font-size: 20px;
}

.editbutton {
  background:#6C5B7B;
  width: 70px;
  height: 30px;
  font-size: 20px;
}

.deletebutton {
  background:#355C7D;
  width: 70px;
  height: 30px;
  font-size: 20px;
}

.addTodoInput {
  height: 30px;
  width: 300px;
  display: flex;
  justify-content: 'center';
}

.MVPheader {
  display: flex;
  justify-content: center;
}